p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    color:white;
    text-indent: 40px;
}

p.about-me-p{
	font-size: 84.5%;
	text-indent: 0px;
}

body {
    background-color: black;
} 

input#search-field{
	max-width: 48%;
}

h5.about-me {
color: #F500FF;
text-shadow: 1px 1px 85px #FFF;
font-family: mistral;
font-size: 1.5rem;
margin-bottom: 8px;
margin-right: 21px;
padding-left: 0;
margin-left: 0;
}

input.search {
    background:#F500FF;
    color:white;
    font-weight: bold;
}

input[type="submit"] {

-webkit-border-radius: 20px;
}

a {
    color:aqua;
    text-transform: capitalize;
    }

a:hover {
    color: #F500FF;
}

a:link {
    text-decoration: none;

}

/* img.full-img{
height:15rem;
} */

/* ul.left{
margin-bottom: 2rem;
margin-top: -4rem;

} */

nav.top-bar.expanded{
	margin-bottom: 2rem;

}


.top-bar {
    background:black;
}

ul.right {
    color: aqua;
}

.genre {
    text-shadow: 0 0 .8px #fff, 0 0 .8px #fff, 0 0 .8px #fff, 0 0 1px aqua, 0 0 .8px black, 0 0 .8px aqua, 0 0 .8px #ff00de, 0 0 .8px #ff00de;
}
   
.row .row {
    /* margin-top:2rem; */
    /* float:right; */
}

img.author-thumb.full-img {
    /* width:1.5rem;
    height:1.5rem; */
    display:none;
}

div.large-12.small-12.columns {
    margin-bottom:5rem;
    background:#2C2C2C;
}
/* 
 .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }  */


 .spotify{
    margin-left: 2rem;
    margin-top: 10rem;
}
 

div.large-12.small-12.columns.footer {
background:black;
}

.twitter {
    background:black;
    margin-bottom:6rem;
}

div.large-8.small-12.columns {
    margin-bottom:4rem;
}

div.large-8.small-12.columns.logo {
    padding-left: 0;
}

.loop {
    margin-bottom:4rem;
    margin-top: 1rem;
}


div.large-12.small-12.columns.back-logo {
    background:black;
}


.loop {
    background:#2C2C2C;
    margin-bottom: 2rem;
    border-radius: 14px;
}

div.large-4.small-12.columns.right{
    margin-top:2rem;
}

div.large-4.columns.sidebar{
	/* padding-left: 70px;
	padding-right: 0px; */
	/* margin-top: 34.2rem; */
}

.about-me {
padding-left: 46px;
padding-right: 5px;
margin-bottom: 3rem;
margin-left: 0rem;
margin-top: 2rem;
}

.twitter {
margin-left: 2rem;
margin-bottom: 0;
padding-right: 2rem;

}

.youtube{
margin-top: 10rem;
padding-left: 15px;
padding-right:2rem;
margin-left:2rem;
}

.youtube-button{
	margin-top: 4px;
	margin-bottom: -4px;
}

 .yt-thumb img {
border-radius: 0;
} 

/*.social {
    padding-right:10px; 

} */

.social {
   	/* width: 11rem; */
	/* padding-right: 0; */
	margin-top: .6rem;
	margin-bottom: 4px;
	text-align: right;
}

.icons{
	margin-bottom: 0rem;
	display: inline-block;
}

.search {
	padding-right: 8px;
    /* margin-left: 4px; */
}

ul.inline-list.social {
	/* margin-left:0;
	margin-right: 1rem; */
}

.logo{
	padding-left:0;
}

div.row.third {
    /* float: right;
     	margin-left: -10px; */
}

iframe#twitter-widget-1.twitter-timeline.twitter-timeline-rendered {
	width:235px;
}

/* iframe{
margin-left: 15rem;
margin-right: 15rem;
} */

 iframe.spotify-player {
margin-left:auto;
margin-right: auto; 
display: block;
} 

section.post-content img {
margin-bottom: 3rem;
max-height: 100%;
max-width: 35rem;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 3rem;
}

h6 {
    font-size:2rem;
    color: #2FF05D;
    display:block;
}

div.adsense{
	margin-top:3rem;
    text-align:center;
}

.adsense1{
    padding-left:4rem;
    padding-right: 0rem;
    padding-top: 12rem;
}

.adsense2{
    padding-left:4rem;
    padding-right: 0rem;
    padding-top: 12rem;
}

.adsense3{
    padding-left:4rem;
    padding-right: 0rem;
    padding-top: 12rem;
}

.facebook-like iframe{
	border: none;
	height: 21px;
/* 	margin-left: 58px; */
	margin-top: 8px;
	margin-bottom: 0px;

	

}

/* .adsense4{
    padding-left:4rem;
    padding-right: 0rem;
    padding-top: 12rem;
} */


/*  div.row{
background:#00CED1;
}
*/
/* div.row.second{
margin-top:2px;
} */
 
time.post-date {
    color:#2FF05D;
    margin-left:1rem;
}

time.current-post-date {
    color:#2FF05D;
    margin-top:2rem;
}

section.post-content {
    max-width:95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

img.alt-logo{
    margin-top: 2rem;
}

.page-number {
    display:none;
}

span.hidden {
    display:none;
}

section.share {
    display:none;
}

footer.post-footer {
    display:none;
}

.copyright {
    color:aqua;
}

.poweredby {
    color:aqua;
}

.top-bar-section ul li > a {
    color:aqua;
    text-shadow: 1px 1px 40px #fff;
    font-size:20px;
    background-color:black;
    font-weight:600;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    color:#F500FF;
    background:black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background:black;
    padding-top:5px;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background:black;
    color:aqua;
}

main#content.content{
    margin-top:2rem;
}

h1.post-title {
    font-size: 2rem;
    color:#F500FF;
    text-align: center; 
    margin:4rem;
    font-family:  Arrus BT, Gill Sans MT, Geneva, sans-serif;
    padding-top: 2rem;
    margin-left: 2rem;
	margin-right: 2rem;
}

h2.post-title{
    font-size: 1.8rem;
    margin-top:1.2rem;
    font-family: "Abel", arial, sans-serif;
    /* font-family: Verdana, Geneva, sans-serif; */
    text-align:center;
    text-shadow: 1px 1px 64px #FFF;
}

h1.page-title{
    text-align:center;
    color:#F500FF;
    /* font-weight:bolder; */
    text-transform: capitalize;
    text-shadow: 1px 1px 100px #FFF;
    font-family: mistral;
    font-size: 4rem;
}

input#search-field{
	width: 56%;

}

form.search{
	margin-top: 8px;
}

#widget{
    margin-top:2rem;
}

ul.dropdown{
    background:black;
}

/* img.full-img{
margin-top:2rem;
} */

img.img.full-img {
    margin-top:0rem;
}

time.post-date {
    color: #2FF05D;
    margin-left: auto;
    margin-top:.5rem;
    margin-bottom:.5rem;
    display: block;
}

footer.post-meta{
    color:white;
}

/* 
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
 */


iframe#twitter-widget-0.twitter-follow-button{
    margin-top:10px;
}



#searchbox {
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    height: 35px;
    padding: 5px;
    /* margin: 100px auto 50px; */
    overflow: hidden; /* Clear floats */
}

#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 180px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #03EE00;
    background-image: linear-gradient(#03EE00, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 23px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #2FF05D;
    background-image: linear-gradient(#C9199F, #C23DA2);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
    border: 0;  /* Small centering fix for Firefox */
}


div#post-image img.full-img {
    /* max-width:35rem; */
    max-height:20rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    margin-bottom:2rem;

}

/* section.post-excerpt p{
max-width:24rem;
} */

section.post-content p {
    /* text-align:center; */
    text-indent: 50px;
    padding-left: 4rem;
	padding-right: 4rem;
}

section.post-meta {
    text-align:center;
    color:white;
}


div#disqus_thread {
    background:white;
    margin-top:5rem;
    margin-bottom:2rem;
    padding-left:2rem;
    padding-right:2rem;
    width:100%;
}


#layout {
    background:white;
}


img.post-image.full-img {
    max-height:25rem;
    max-width:30rem;
    margin-left:auto;
    margin-right:auto;
}

img.post-image {
    max-height:20rem;
    max-width:30rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 4rem;
}

/* iframe {
    margin-top:2rem;
}
 */

nav.pagination {
    margin-bottom:8rem;
}

a.older-posts {
   	font-size: 3rem;
	position: relative;
	float: right;
	font-family: mistral;
}

a.newer-posts{
    font-size: 3rem;
    font-family: mistral;
}


h6#writtenbysebastiankmiec {
    text-align:center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size:1.5rem;
}

h6#writtenbyrahilgandhi {
text-align: center;
margin-bottom: 3rem;
margin-top: 2rem;
font-size: 16px;   
}

img.alt-logo.full-img{
    margin-top:2rem;
}

li.toggle-topbar.menu-icon {
    background: #D200FF;
}

.top-bar .toggle-topbar.menu-icon a { 
    padding:0 32px 0 15px;
}


h2.results{
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

h4.results{
	color:#2FF05D;
	font-size: 16px;
}


section.copyright a {
	font-family: mistral;
	font-size: 20px;
}


.youtube-tablet{
    display: none;

}

.adsense-post{
	margin-top:2rem;
	margin-bottom: -2rem;
}

.adsense-post2{
margin-top: 1rem;
margin-bottom: 2rem;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* .adsense5{
    display: none;
}
 */

.stumble{
/* width: 20%;
margin-left: -28px; */
margin-top: 8px;
margin-left: 25px;

}

.stumble iframe {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-left: -2rem;
	margin-top: 8px;
}

.facebook-like{
overflow: hidden;
margin-right:-28px;
padding-left: 0;
/* width: 101%;
margin-left: -5rem; */
}

.facebook-like iframe {
/* margin-left: 45px; */
margin-top: 7px;
margin-bottom: -2px;

}


.second{
	margin-top: 10px;
}


/* span.yt-thumb-clip img {
	border-radius: 0;
} */



 @media only screen and (min-width: 40.063em) and (max-width: 64em) {



 .embed-container {
    position: relative;
    padding-bottom: 138%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}
 


.spotify{
	padding-left: 2.8rem;
	padding-right: 3rem;
}












li.name{
	background: black;

}




.top-bar .toggle-topbar.menu-icon {
top: 10%;
margin-top: 0px;
margin-right: 2rem;
margin-bottom: -2rem;
}


/*.third{
	margin-bottom: 12px;
}*/


/* 
 div.row.third{
	display: none;
} */

div.row.fourth{
	display: none;
} 



.icons{
	margin-bottom: 0rem;
	display: inline-block;
}


.facebook-like{
overflow: hidden;
margin-right:-28px;
padding-left: 0;
/* width: 101%;
margin-left: -5rem; */
}

.facebook-like iframe {
/* margin-left: 45px; */
margin-top: 7px;
margin-bottom: -2px;

}


.social {
   	/* width: 11rem; */
	/* padding-right: 0; */
	margin-top: .6rem;
	margin-bottom: 4px;
	text-align: right;
}

.stumble{
/* width: 20%;
margin-left: -28px; */
margin-top: 8px;
margin-left: 25px;
padding-right: 5px;
}

.stumble iframe {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-left: -2rem;
	margin-top: 8px;
}


ul.inline-list.social {
	/* margin-left:0;
	margin-right: 1rem; */
}


section.post-content img {
margin-bottom: 3rem;
max-height: 100%;
max-width: 100%;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 3rem;
}

.logo{
	margin-bottom: -7rem;

}

div.stumble-fb {
	overflow: hidden;
	float: right;
	width: 280px;
	/* display: inline; */
}


input#search-field {
width: 38%;
max-width: 40%;
}

img.full-img {
/*max-height: 25px;*/
max-width: 25px;
}

img.alt-logo.full-img{

max-width: 100%;	
}

/*.social{
	bottom: 5px;
}*/

/* .adsense1{
display: none;
} */

/* .adsense5{
    display: inherit;
    padding-left: 25px;
    margin-left: 4.5rem;
    margin-bottom: 0;
    margin-right: -3rem;
    margin-top: 6rem;
    } */

/* .youtube{
    display: none;
}
 */
.youtube{
    display: inherit;
    margin-top: 4rem;
    padding-left: 4px;
    margin-left: 4.5rem;
    margin-bottom: 0;
    margin-right: 14rem;
    padding-right: 5.5rem;
}

h1.post-title {
font-size: 1.8rem;
color: #F500FF;
text-align: center;
margin: 4rem;
font-family:  Arrus BT, Geneva, sans-serif;
padding-top: 2rem;
margin-bottom: 2rem;
margin-left: 2rem;
margin-right: 2rem;
}

.post{
    margin-top:2rem;
}


img.post-image {
max-height: 25rem;
max-width: 30rem;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 4rem;
margin-bottom: -2rem;
}

/* .adsense2{
display: none;
}  */

/* .adsense4{
display: none;
}  */

h5.about-me{
margin-left: 0rem;
}

img.danlogo.full-img {
display: block;
margin-right: auto;
margin-left: 2rem;
height: auto;
max-width: 100%;
margin-bottom: 2rem;
margin-top: -2rem;
}

.logo{
    margin-left:1rem;
}

.loop {
background: #505555;
margin-bottom: 2rem;
margin-left: 2rem;
margin-right: 14rem;
display: block;
padding-right: 10rem;
max-width: 36rem;
padding-left: inherit;
padding-right: inherit;
margin-top: 1rem;
}

footer.post-meta {
padding-left: 1.2rem;
padding-right: 1.2rem;
font-size: 13px;
}

p.excerpt-paragraph {
	padding-left: 2rem;
	padding-right: 2rem;
}

.social {
/* width: 11rem; */
padding-right: 0;
margin-right: 2rem;
margin-top: 2px;
text-align: right;
}

div.large-12.columns.social  {
	margin-right: 0;
}

div.large-8.small-12.columns {
margin-bottom: -5rem;
}

top-bar-section ul {
padding: 0;
width: 100%;
height: auto;
display: block;
font-size: 16px;
margin-left: 1rem;
margin-right: auto;
}

.top-bar-section li:not(.has-form) a:not(.button) {
padding: 0 6.5px;
line-height: 45px;
font-size: 85%;
}



.twitter {
padding-left: 4px;
margin-left: 4.5rem;
margin-bottom: 0;
margin-right: 14rem;
padding-right: 5.5rem;

}

p.about-me-p {
font-size: 84.5%;
text-indent: 0px;
line-height: 24px;
}


.about-me {
padding-left: 5.0rem;
padding-right: 1.5rem;
margin-bottom: 5rem;
margin-top: 1.5rem;
margin-left: 0;
margin-right: 2rem;
}

.loop {
background: #2C2C2C;
margin-bottom: 2rem;
}

.youtube{
padding-left: 0rem;
margin-top: 10rem;

}

.adsense4 {
padding-left: 4.8rem;
padding-right: 0rem;
padding-top: 10rem;

}

p.excerpt-paragraph{
font-size: 14px;
line-height: 26px;
text-indent: 20px;
}


div#post-image img.full-img {
/* max-width: 35rem; */
max-height: 18rem;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
margin-bottom: 2rem;
max-width: 20rem;
}

h2.post-title {
font-size: 20px;
margin-top: 1.2rem;
font-family: "Abel", arial, sans-serif;
/* font-family: Verdana, Geneva, sans-serif; */
text-align: center;
text-shadow: 1px 1px 64px #FFF;
margin-left: 10px;
margin-right: 10px;

}

a.older-posts {
font-size: 32px;
position: relative;
float: right;
font-family: mistral;
margin-top: 0rem;
margin-right: -2.8rem;
}

.sidebar{
padding-left:0rem;
}


section.post-content p {
/* text-align: center; */
text-indent: 40px;
padding-left: 2rem;
padding-right: 2rem;
font-size: 15px;
line-height: 26px;
margin-top:3rem;
margin-bottom: 3rem;
}

h1.page-title {
text-align: center;
color: #F500FF;
/* font-weight: bolder; */
text-transform: capitalize;
text-shadow: 1px 1px 100px #FFF;
font-family: mistral;
font-size: 4rem;
margin-bottom: 6rem;

}


.third {
	margin-right:1rem;
}

a.newer-posts {
font-size: 32px;
font-family: mistral;
}


.columns.post{
margin-top: -2rem;
}







}











 @media only screen and (max-width: 40em) {

 
.spotify{
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-left: auto;
margin-right: auto;
text-align: center;
}
 
img.full-img{
    max-height:20px;
    max-width:20px;
}

section.post-content img {
margin-bottom: 3rem;
max-height: 100%;
max-width: 100%;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 3rem;
}

img{
	max-height:20px;
    max-width:20px;
}

img.post-image.full-img{
    max-width: 100%;
    max-height:100%;
}

div.row.fourth{
    display:none;
}


div.row.fifth{
    display:none;
}

img.blog-logo.full-img{
    max-width:100%;
    max-height:100%;
}

img.alt-logo.full-img{
    max-width:3rem;
    max-height:3rem;
    margin-top:2rem;
}

img.alt-logo {
max-width: 3rem;
max-height: 3rem;
margin-top: 2rem;
}

img.post-logo.full-img{
    max-width:3rem;
    max-height:3rem;

}

img.danlogo.full-img{
	margin-top:-2rem;
}

section.post-content p {

text-indent: 25px;
font-size: 14px;
}


h6#writtenbysebastiankmiec {
text-align: center;
margin-bottom: 3rem;
margin-top: 2rem;
font-size: 16px;
}

h6#writtenbyrahilgandhi {
text-align: center;
margin-bottom: 3rem;
margin-top: 2rem;
font-size: 16px;   
}

ul.inline-list.social{
/* margin-right: 2rem;
margin-bottom: 0px; */
}


a.older-posts{
    font-size:20px;
}

a.newer-posts{
    font-size:20px;
}

/* #main-logo img.full-img{
    width: 100%;
    height:100%
 } */
 
h1.post-title {
    font-size: 1.25rem;
    color: #F500FF;
    text-align: center;
    margin: 2rem;
    font-family:  Arrus BT, Gill Sans MT, Geneva, sans-serif;
    /* font-weight:600; */
    padding-top: 0rem;
    margin-left: 0rem;
	margin-right: 0rem;
}
 

h2.post-title {
    font-size:1.2rem;
    margin-left:auto;
    margin-right:auto;
}


div.large-8.small-12.columns {
    margin-bottom:0rem;
}

.loop {
margin-bottom: 1.5rem;
margin-top: 1rem;
}


 
p {
    
    margin-left:auto;
    margin-right:auto;
    margin-top:0rem;
}
 
img.author-thumb.full-img {
display:none;
}


footer.post-meta {
    font-size:12px;
}

.top-bar-section ul li > a {
     font-size:16px; 
 }

.copyright {
    font-size:12px;
}

.poweredby {
    font-size:12px;
}

time.post-date {
    color: #2FF05D;
    margin-left: auto;
    margin-top:.5rem;
    display: block;
}

img.logo.full-img{
    display:none;
}

div.large-4.small-12.columns.right {
    margin-top: 0rem;
}

div.large-8.small-12.columns {
    margin-bottom: 0rem;
}

img.danlogo.full-img {
    height: 100%;
    width: 100%;
    max-width: 28%;
    max-height: 50%;
    margin-left: 1rem;
}

img.danlogo {
    height: 100%;
    width: 100%;
    max-width: 28%;
    max-height: 50%;

}

.about-me {
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-left: 0rem;
margin-top: 15px;
}

.twitter {
padding-left: 2rem;
padding-right: 2rem;
}


/* .adsense1{
    padding-left:0px;
    padding-right:0px;
    padding-top: 4rem;
    text-align: center;
} */

 .adsense1{
display: none;
} 

 
.adsense2{
display: none;
} 

.adsense3{
display: initial;
text-align: center;
margin-top: -6rem;
margin-bottom: 2rem;

}
 
/* .adsense4{
display: inherit;
} */
 
.social {
/* width: 11rem; */
padding-right: 0;
margin-top: 0;
}

.top-bar .toggle-topbar.menu-icon {
margin-right: 13px;

}
div.row.first{
 	/* margin-bottom: 2rem; */

 }

ul.right {
color: aqua;
margin-bottom: 4rem;
}

.top-bar.expanded {
height: auto;
background: #000;
}

.top-bar .name {
height: 45px;
margin: 0;
font-size: 16px;
background: #000;
margin-bottom: -4rem;

}

.social {
/* width: 11rem; */
padding-right: 0;
margin-top: -.5rem;
}

h1.page-title{
	margin-bottom: 1rem;
	font-size:3rem;
}

img.danlogo {
    height: 100%;
    width: 100%;
    max-width: 28%;
    max-height: 50%;
    margin-top: -2rem;
}

p.excerpt-paragraph {
font-size: 90%;
text-indent: 20px;
line-height: 20px;
}

.youtube {
padding-left: 2rem;
padding-right: 2rem;
margin-top: 4rem;
text-align: center;
}

a.about-me {
	display: inherit;
}

/* li.name {
	margin-bottom: -4rem;
}
 */

ul.inline-list.social {
/*  margin-left: -1rem;  */
}

section.post-content p {
	padding-left: 0;
	padding-right: 0;
}


.inline-list > li {
list-style: none;
float: right;
margin-left: 12px;
display: block;
}

div.row.third {
margin-right: 0rem;
float: right;
margin-bottom: -28px;
}

.twitter {
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-left: auto;
margin-right: auto;
text-align: center;
}

div#allposts {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}


.inline-list {
margin: 0 auto 1.0625rem auto;
margin-left: 0;
margin-right: 0;
padding: 0;
list-style: none;
overflow: hidden;
}

.small-6 {
width: 90%;
}

/* .row .row {
    float:right;
} */

.sidebar {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

.post-row{
padding-left: 0.8rem;
padding-right: 0.8rem;
}

nav.pagination {
    margin-bottom:0rem;
}

.adsense3{
padding-left: 2rem;
padding-right: 2rem;
padding-top: 6rem;
margin-top: 0rem;

}

.about-me{
    margin-bottom: 2rem;
}

.social{
    margin-bottom: 0rem;
}

div#post-image img.full-img {
max-height: 17rem;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
margin-bottom: 2rem;
}

div.large-12.small-12.columns {
	margin-top:.5rem;
}
 
p {
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 28px;
color: #FFF;

}

.youtube{
	margin-left: 0rem;
}



.spotify{
    margin-top: 6rem;
}

 }
 
 