p {
font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
color:white;
}


body {
    background-color: black;
} 




a{
color:aqua;
}

a:hover {
    color: #F500FF;
}

a:link {
    text-decoration: none;

}

/* img.full-img{
height:15rem;
} */


.top-bar {
background:black;
}

ul.right {

color: aqua;
}

 .genre {text-shadow: 0 0 .8px #fff, 0 0 .8px #fff, 0 0 .8px #fff, 0 0 1px aqua, 0 0 .8px black, 0 0 .8px aqua, 0 0 .8px #ff00de, 0 0 .8px #ff00de;
   }
   
.row .row {
margin-top:2rem;
float:right;
}

img.author-thumb.full-img {
/* width:1.5rem;
height:1.5rem; */
display:none;
}

div.large-12.small-12.columns {
margin-bottom:5rem;
background:#505555;
}



div.large-12.small-12.columns.footer {
background:black;
}

div.large-8.small-12.columns.twitter {
background:black;
margin-bottom:6rem;
}

div.large-8.small-12.columns {
margin-bottom:5rem;
}

div.large-8.small-12.loop {
margin-bottom:4rem;
}


div.large-12.small-12.columns.back-logo {
background:black;
}


div.large-8.small-12.loop {
background:#505555;
}


h6{
font-size:2rem;
color:#EED866;
display:block;

}

/* div.row{
background:#00CED1;
}

div.row.second{
background:black;
}
 */
time.post-date {
color:#2FF05D;
margin-left:1rem;
}

time.current-post-date {
color:#2FF05D;
margin-top:2rem;
}

/* section.post-content {
margin-top:5rem;
} */

.page-number{
display:none;
}

span.hidden {
display:none;
}

section.share {
display:none;
}

footer.post-footer {
display:none;
}

.copyright{
color:aqua;
}

.poweredby {
color:aqua;
}

.top-bar-section ul li > a {
color:aqua;
text-shadow: 1px 1px 64px #fff;
font-size:20px;
background-color:black;
font-weight:600;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
color:#C70BF7;
background:black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
background:black;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
background:black;
color:aqua;
}

main#content.content{
margin-top:2rem;
}

h1.post-title {
font-size: 3.25rem;
color:#2FF05D;
text-align: center; 
margin:4rem;
font-family: Gill Sans MT, Geneva, sans-serif;
}

h2.post-title{
font-size: 1.8rem;
margin-top:1.2rem;
font-family: Verdana, Geneva, sans-serif;
text-align:center;
}

h1.page-title{
text-align:center;
color:#F500FF;
font-weight:bolder;
}


ul.dropdown{
background:black;
}

img.full-img{
margin-top:2rem;
}

img.img.full-img {
margin-top:0rem;
}

time.post-date {
color: #2FF05D;
margin-left: auto;
margin-top:.5rem;
margin-bottom:.5rem;
display: block;
}

footer.post-meta{
color:white;
}

/* 
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }
 */






#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    height: 35px;
    padding: 5px;
    /* margin: 100px auto 50px; */
    overflow: hidden; /* Clear floats */
}

#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 180px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #03EE00;
    background-image: linear-gradient(#03EE00, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 23px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #2FF05D;
    background-image: linear-gradient(#C9199F, #C23DA2);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}


div#post-image img.full-img {
/* max-width:35rem; */
max-height:20rem;
display:block;
margin-left:auto;
margin-right:auto;
margin-top:4rem;
margin-bottom:4rem;
}

/* section.post-excerpt p{
max-width:24rem;
} */

section.post-content p {
/* text-align:center; */
text-indent: 50px;
}

section.post-meta {
text-align:center;
color:white;
}


div#disqus_thread{
background:white;
margin-top:10rem;
}


#layout {
background:white;
}


img.post-image.full-img{
max-height:40rem;
max-width:40rem;
margin-left:auto;
margin-right:auto;
}

img.post-image{
max-height:40rem;
max-width:40rem;
display:block;
margin-left:auto;
margin-right:auto;
margin-top: 4rem;
}




nav.pagination{
margin-bottom:8rem;
}

a.older-posts{
font-size:2rem;
position:relative;
float:right;
}

a.newer-posts{
font-size:2rem;
}


h6#writtenbysebastiankmiec{
text-align:center;
}


 @media only screen and (max-width: 40em) {

 
 
 
img.full-img{
max-height:20px;
max-width:20px;
}

img.post-image.full-img{
max-width: 100%;
max-height:100%;
}

div.row.fourth{
display:none;
}


div.row.fifth{
display:none;
}

img.blog-logo.full-img{
max-width:100%;
max-height:100%;
}

img.alt-logo.full-img{
max-width:3rem;
max-height:3rem;
}


img.post-logo.full-img{
max-width:3rem;
max-height:3rem;
}



a.older-posts{
font-size:20px;
}

a.newer-posts{
font-size:20px;
}

/* #main-logo img.full-img{
width: 100%;
height:100%
 } */
 
h1.post-title {
font-size: 1.55rem;
color: #2FF05D;
text-align: center;
margin: 4rem;
font-family: Gill Sans MT, Geneva, sans-serif;
font-weight:600;

 

h2.post-title{
font-size:1.2rem;
margin-left:auto;
margin-right:auto;
}


div.large-8.small-12.columns {
margin-bottom:0rem;
}

div.large-8.small-12.loop {
margin-bottom: 4rem;
margin-top: 2rem;
}


 
p{
font-size:.8rem;
margin-left:auto;
margin-right:auto;
margin-top:2rem;
}
 
img.author-thumb.full-img{
display:none;
}


footer.post-meta {
font-size:12px;
}

.top-bar-section ul li > a {
font-size:12px;
}

.copyright {
font-size:12px;
}

.poweredby {
font-size:12px;
}

time.post-date {
color: #2FF05D;
margin-left: auto;
margin-top:.5rem;
display: block;
}

img.logo.full-img{
display:none;
}
 }
 
 
 
 